In [6]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [7]:
# Index Levels 
outside = ['G1','G1','G1','G2','G2','G2',]
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
heir_index = pd.MultiIndex.from_tuples(hier_index)

In [8]:
heir_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [9]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [10]:
df

                A         B
(G1, 1) -0.691769 -0.524592
(G1, 2)  0.075717 -0.567572
(G1, 3)  0.676003 -0.319137
(G2, 1)  0.573516 -0.856881
(G2, 2)  1.835324 -0.379068
(G2, 3) -1.380481 -0.676639

In [12]:
df

                A         B
(G1, 1) -0.691769 -0.524592
(G1, 2)  0.075717 -0.567572
(G1, 3)  0.676003 -0.319137
(G2, 1)  0.573516 -0.856881
(G2, 2)  1.835324 -0.379068
(G2, 3) -1.380481 -0.676639