In [2]:
# Calculating Security's rate of simple return
import numpy as np
from pandas_datareader import data as wb
import matplotlib.pyplot as plt
import pandas_datareader.data as wb
import yfinance as yf

In [3]:
#import the data
dataset = wb.get_data_yahoo('GOOG', start='2019-01-01', end='2019-05-31')

In [4]:
dataset.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-01-02,1052.319946,1015.710022,1016.570007,1045.849976,1532600,1045.849976
2019-01-03,1056.979980,1014.070007,1041.000000,1016.059998,1830600,1016.059998
2019-01-04,1070.839966,1027.417969,1032.589966,1070.709961,2093900,1070.709961
2019-01-07,1074.000000,1054.760010,1071.500000,1068.390015,1981900,1068.390015
2019-01-08,1084.560059,1060.530029,1076.109985,1076.280029,1764900,1076.280029

In [5]:
dataset.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-05-24,1149.765015,1131.660034,1147.359985,1133.469971,1112000,1133.469971
2019-05-28,1151.587036,1133.119995,1134.000000,1134.150024,1365000,1134.150024
2019-05-29,1129.099976,1108.219971,1127.520020,1116.459961,1538200,1116.459961
2019-05-30,1123.130005,1112.119995,1115.540039,1117.949951,951900,1117.949951
2019-05-31,1109.599976,1100.180054,1101.290039,1103.630005,1507800,1103.630005

In [8]:
dataset['simple_return'] = (dataset['Adj Close'] / dataset['Adj Close'].shift(1)) - 1
print(dataset['simple_return'])

Date
2019-01-02         NaN
2019-01-03   -0.028484
2019-01-04    0.053786
2019-01-07   -0.002167
2019-01-08    0.007385
2019-01-09   -0.001505
2019-01-10   -0.004029
2019-01-11   -0.012277
2019-01-14   -0.011824
2019-01-15    0.031071
2019-01-16    0.003546
2019-01-17    0.008261
2019-01-18    0.007670
2019-01-22   -0.025258
2019-01-23    0.004717
2019-01-24   -0.001553
2019-01-25    0.015914
2019-01-28   -0.019166
2019-01-29   -0.008840
2019-01-30    0.026815
2019-01-31    0.025077
2019-02-01   -0.005034
2019-02-04    0.019851
2019-02-05    0.011644
2019-02-06   -0.026841
2019-02-07   -0.014813
2019-02-08   -0.003322
2019-02-11   -0.000046
2019-02-12    0.024073
2019-02-13   -0.001079
                ...
2019-04-18    0.000024
2019-04-22    0.010086
2019-04-23    0.012580
2019-04-24   -0.006761
2019-04-25    0.005931
2019-04-26    0.006910
2019-04-29    0.012105
2019-04-30   -0.076966
2019-05-01   -0.017165
2019-05-02   -0.004683
2019-05-03    0.019602
2019-05-06    0.003366
2019-05-07   -0.012855
2019-05-08   -0.006669
2019-05-09   -0.003335
2019-05-10    0.001626
2019-05-13   -0.027691
2019-05-14   -0.010238
2019-05-15    0.039065
2019-05-16    0.012687
2019-05-17   -0.014148
2019-05-20   -0.020176
2019-05-21    0.009466
2019-05-22    0.001557
2019-05-23   -0.009249
2019-05-24   -0.006399
2019-05-28    0.000600
2019-05-29   -0.015598
2019-05-30    0.001335
2019-05-31   -0.012809
Name: simple_return, Length: 104, dtype: float64

In [10]:
#Avergae daily simple return
dataset['simple_return'].mean()

0.0006471866478825849

In [11]:
dataset['simple_return'].std()

0.015829657427337773